In [76]:

import pandas as pd
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [77]:
df= pd.read_csv(r"Iris.csv")

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [78]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [79]:
df.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [80]:
X = df.iloc[:, 1:-1].values
Y = df["Species"].values

In [81]:
print(X[0:5])
X.shape

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

(150, 4)

In [82]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=2)
output = lda.fit_transform(X, Y)
outputdf= pd.DataFrame(output,columns=["Linear Discriminant 1","Linear Discriminant 2"])
finalDf = pd.concat([outputdf, df["Species"]], axis = 1)

In [83]:
finalDf.head()

   Linear Discriminant 1  Linear Discriminant 2      Species
0              -8.084953               0.328454  Iris-setosa
1              -7.147163              -0.755473  Iris-setosa
2              -7.511378              -0.238078  Iris-setosa
3              -6.837676              -0.642885  Iris-setosa
4              -8.157814               0.540639  Iris-setosa

In [84]:
finalDf.shape

(150, 3)